<html>
<script src="AngularJs/angular.js"></script>
   
    <script>
        
        
    var app=angular.module("myApp",[]);
        
        app.controller("democontroller", function($scope)
                       {
            
            var city=[
                {name:"pune", like:0, dislike:0},
                {name:"solapur", like:0, dislike:0},
                {name:"Nashik", like:0, dislike:0}
            
            ];
            $scope.allData=city;
            
            
            $scope.IncrementLike=function(values)
            {
                values.like++;
            }
            
            $scope.IncrementDislike=function(values)
            {
                values.dislike++;
            }
        });
    
    </script>
    
    <center>
    <body ng-app="myApp" ng-controller="democontroller">
    <div bg-color>
    <table class="a101" border="3px">
        <tr>
        <th>City</th>
        <th>Like</th>
        <th>Dislike</th>
        <th>Action</th>
        </tr>
        
        <tr ng-repeat="values in allData">
        <td>{{values.name}}</td>
        <td>{{values.like}}</td>
        <td>{{values.dislike}}</td>
        <td><input type="button" value="Like" ng-click="IncrementLike(values)">
        <input type="button" value="Dislike" ng-click="IncrementDislike(values)"></td>
        </tr>
        
        </table>
    </div>
    </body>
        </center>
</html>